<h2>My Heroes</h2>
<ul class="heroes">
    <li 
        *ngFor="let hero of heroes" 
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero"
    >
        <span>
            {{hero.id}} {{hero.name}}
        </span>
    </li>
</ul>

<div *ngIf="selectedHero">    
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div><span>Id: {{selectedHero.id}}</span></div>
    <div><span>Name: {{selectedHero.name}}</span></div>
    
    <div>
        <label for="name">Hero's Name:</label>
        <input id="name" placeholder="Insert Hero's Name" [(ngModel)]="selectedHero.name">
    </div>
</div>
